#home {
  min-height: 100vh;
  display: grid;
}

.home__container {
  row-gap: 7rem;
}

.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.5rem;
  color: var(--clr-title);
}

.home__social-icon:hover {
  color: var(--clr-highlight);
  transition: 0.2s;
}

.home__title {
  font-size: var(--fs-large);
}

.home__subtitle {
  position: relative;
  font-size: var(--fs-h3);
  padding-left: 5.4rem;
  font-weight: var(--fw-normal);
  margin-bottom: var(--mb-1);
}

.home__subtitle::before {
  content: " ";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: var(--clr-text);
  left: 0;
  top: 1rem;
}

.home__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
}

.home__img {
  background: url(../../assets/portrait1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255 130 169 / 30%);
  /* filter: grayscale(100%); */
  width: 300px;
  height: 300px;
  order: 1;
  justify-self: center;
  animation: fluid__animation 8s ease-in-out infinite;
}

@keyframes fluid__animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transform: translateY(0);
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    transform: translateY(8%);
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transform: translateY(0);
  }
}

.home__scroll {
  margin-left: 9.25rem;
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3.75rem);
  }
}

.home__scroll-text {
  color: var(--clr-title);
  font-weight: var(--fw-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.home__scroll-arrow {
  font-size: 1.25rem;
  color: var(--clr-title);
}

/* BREAKPOINTS */

/* / BREAKPOINTS / */
/* For large devices */
@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }

  .home__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }

  .home__subtitle::before {
    width: 42px;
    top: 0.8rem;
  }

  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }

  .home__img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgb(255 130 169 / 30%);
  }

  .home__scroll {
    margin-left: 7.5rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }

  .home__img {
    order: initial;
    justify-self: initial;
    box-shadow: inset 0 0 0 7px rgb(255 130 169 / 30%);
    width: 250px;
    height: 250px;
  }

  .home__data {
    grid-column: 1/3;
  }

  .home__scroll {
    /* margin: 0 auto; */
    display: none;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .home__img {
    width: 180px;
    height: 180px;
  }
}
