/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* VARIABLES */

:root {
  --header-height: 3rem;

  /* colors */
  /* --hue: 0;
  --sat: 0%;
  --clr-title: hsl(var(--hue), var(--sat), 20%);
  --clr-title-dark: hsl(var(--hue), var(--sat), 0%);
  --clr-text: hsl(var(--hue), var(--sat), 46%);
  --clr-body: hsl(var(--hue), var(--sat), 98%); */
  --clr-title: hsl(0, 0%, 20%);
  --clr-title-dark: hsl(0, 0%, 0%);
  --clr-text: hsl(0, 0%, 46%);
  --clr-body: hsl(0, 0%, 98%);
  --clr-container: #fff;
  /* --clr-highlight: hsl(341, 100%, 75%); */
  --clr-highlight: hsl(341, 100%, 68%);
  --clr-bg-animation: hsl(340, 100%, 95%);

  /* typography */
  --ff-primary: "Poppins", sans-serif;

  --fs-large: 3.5rem;
  --fs-h1: 2.25rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-normal: 1rem;
  --fs-small: 0.875rem;
  --fs-smaller: 0.813rem;
  --fs-tiny: 0.625rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  /* margins - bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* typography - responsive */
@media screen and (max-width: 992px) {
  :root {
    --fs-large: 2.75rem;
    --fs-h1: 1.5rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1rem;
    --fs-normal: 0.938rem;
    --fs-small: 0.813rem;
    --fs-smaller: 0.75rem;
  }
}

/* LIGHT THEME */

.dark-theme {
  /* --clr-title: hsl(0, 0%, 20%);
  --clr-title-dark: hsl(0, 0%, 0%);
  --clr-text: hsl(0, 0%, 46%);
  --clr-body: hsl(0, 0%, 98%);
  --clr-container: #fff;
  --clr-highlight: hsl(341, 100%, 75%); */

  --clr-title: hsl(0, 0%, 98%);
  --clr-title-dark: #fff;
  --clr-text: hsl(0, 0%, 70%);
  --clr-body: hsl(0, 0%, 10%);
  --clr-container: hsl(0, 0%, 20%);
  /* --clr-highlight: hsl(341, 100%, 75%); */
  --clr-highlight: hsl(341, 100%, 68%);
  --clr-bg-animation: hsl(0, 0%, 19%);
}

.dark-theme .contact__form-input {
  border: 2px solid var(--clr-text);
}

.dark-theme .scroll-header {
  box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.7);
}

.dark-theme .footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .dark-theme .nav__menu {
    box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.5);
  }
}

/* BASE CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--ff-primary);
  font-size: var(--fs-normal);
}

body {
  background-color: var(--clr-body);
  color: var(--clr-text);
}

h1,
h2,
h3 {
  color: var(--clr-title);
  font-weight: var(--fw-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

/* REUSABLE CSS */
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--fs-h1);
  color: var(--clr-title);
}

.section__subtitle {
  display: block;
  font-size: var(--fs-small);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* LAYOUTS */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--clr-title);
  color: var(--clr-container);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--fw-medium);
}

.button:hover {
  /* background-color: var(--clr-title-dark); */
  background-color: var(--clr-highlight);
  color: var(--clr-title);
  transition: 0.2s;
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* / BREAKPOINTS / */
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --fs-large: 2.25rem;
  }
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
